.chart-skills {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.chart-skills *,
.chart-skills::before {
  box-sizing: border-box;
}

.chart-skills {
  position: relative;
  width: 225px;
  height: 113px;
}

.chart-skills::before,
.chart-skills::after {
  position: absolute;
}

.chart-skills::before {
  content: "";
  width: inherit; /*inherits from its parent element*/
  height: inherit;
  border: 35px solid rgba(211, 211, 211, 0.3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills::after {
  content: "";
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 35px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
}

.chart-skills li:nth-child(1) {
  z-index: 4;
  border-color: #77f2cd;
  animation-name: rotate-one;
}

/*ANIMATION
--------------------------------------------------
Desired percentage, calculate how many degrees we have to animate,
multiply with 180 degrees because I use a semi-circle
CSS -  30   = 30/100 * 180 = 54 deg
HTML - 40   = 40/100 * 180 = 72 deg
JS -   20   = 20/100 * 180 = 36
JAVA - 10   = 10/100 * 180 = 18
*/

/* Define some animation styles that are shared across all items
---------------------------
*/

.chart-skills li {
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

@keyframes rotate-one {
  100% {
    transform: rotate(90deg);
  }
}

.chart-skills {
  overflow: hidden;
}

.chart-skills li {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.chart-skills span {
  position: absolute;
  font-size: 0.85rem;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: fade-in 0.4s linear forwards;
  animation: fade-in 0.4s linear forwards;
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chart-skills li:nth-child(1) span {
  top: 5px;
  left: 20px;
  transform: rotate(-54deg);
}
