@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iranyekanwebbold.eot");
  src: url("../fonts/eot/iranyekanwebbold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebbold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/ttf/iranyekanwebbold.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/eot/iranyekanwebthin.eot");
  src: url("../fonts/eot/iranyekanwebthin.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebthin.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/ttf/iranyekanwebthin.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iranyekanweblight.eot");
  src: url("../fonts/eot/iranyekanweblight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanweblight.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/iranyekanweblight.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iranyekanwebregular.eot");
  src: url("../fonts/eot/iranyekanwebregular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebregular.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/iranyekanwebmedium.eot");
  src: url("../fonts/eot/iranyekanwebmedium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebmedium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/iranyekanwebmedium.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/eot/iranyekanwebextrabold.eot");
  src: url("../fonts/eot/iranyekanwebextrabold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebextrabold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/iranyekanwebextrabold.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/iranyekanwebblack.eot");
  src: url("../fonts/eot/iranyekanwebblack.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebblack.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/iranyekanwebblack.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Open-Sans, iranyekan, Helvetica, Sans-Serif;
  color: #303030;
}

::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  cursor: pointer;
  box-shadow: inherit;
  border-radius: 10px;
  margin: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #2c333f;
  border-radius: 0px;
}

a {
  text-decoration: none;
}
