* {
  box-sizing: border-box;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.splash {
  width: 100%;
  height: 100%;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55%;
}

#spinner {
  min-width: 40px;
  min-height: 40px;
  border: 5px solid #eee;
  border-right: 5px solid #109bfc;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}
